// Breakpoints for media queries:
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

// Colors:
$background: #f6f6f6;
$text: #12131d;
$secondary: #434448;
$red: #e20001;
$black: #191919;