$red: #e20001;
$black: #191919;

// hamburger menu/navigation: 
.hamburger-menu {
    display: none;
    z-index: 9;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;

    //black background which comes just before the menu:
    .menu-secondary-background-color {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: fixed;
      height: 100%;
      width: 100%;
      background-color: $black;
      z-index: -1;
    }
    .menu-layer {
      position: relative;
      background-color: $red;
      height: 100%;
      // hidden overflow is working like a "mask"
      overflow: hidden;
      
      
      .wrapper {
        position: relative;
        .menu-links {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          top: 200px;

          nav {
            display: block;
            ul {
              padding: 0;
              margin: 0;
              li {
                list-style: none;
                font-size: 6rem;
                font-weight: 700;
                cursor: pointer;
                height: 135px;
                overflow: hidden;
                position: relative;
                width: 700px;
                a {
                  position: absolute;
                  color: white;
                  text-decoration: none;
                  &:hover {
                    color: $black;
                  }
                }
              }
            }
          }

          .info {
            color: white;
            width: 300px;
            h3 {
              font-size: 1.2rem;
              margin: 8px auto;
            }
            p {
              margin: 0 auto;
              font-size: .8rem;
            }
          }
        }

        .social-media-icons {
          display: flex;
          justify-content: space-between;
          align-items: stretch;
          position: absolute;
          bottom: -80px;
          color: white;
          margin-top: 16px;
          font-size: 1.5rem;
          font-weight: 600px;
          


          .fab {
           
            color: black;
            cursor: pointer;
            margin-right: 12px;
            transition: .3s ease-in-out;
            &:hover {
              background: $black;
              color: white;
              padding: 8px 24px;
              border-radius: 4px;
              
            }
          }
        }
      }
    }
  }
