
$red: #e20001;
$black: #191919;

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    margin-top: 50px;
    transition: all 4s ease-in-out;

}

.form-control {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid whitesmoke;
    color: $black;
    font-size: 18px;
    margin-bottom: 16px;
}
input {
    height: 45px;
}
form .submit {
    background: $red;
    border-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    border-radius: 2px;
}
form .submit:hover {
    background-color: darken($red, 10%);
    cursor: pointer;
}
