$red: #e20001;
$black: #191919;

.home-container {
  width: 1440px;
  min-width: 1440px;
  margin: 0 auto;
}

.home-wrapper {
padding: 0;
}

.hero {
  visibility: hidden;
  height: 100vh;
  
}

.hero-inner {
  display: flex;
  align-items:center;
  justify-content: center;
  margin: 0 24px;
  height: 100vh;
}    

h1 {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 24px;
  
}
.hero-content-line {
  margin: 0;
  height: 44px;
  overflow: hidden;
}
p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  padding-right: 48px;
  margin-bottom: 56px;
}

.hero-content {
  width: 50%;
}
.hero-content-inner {
  width: 400px;
  margin: 0 auto;
  color: $black;

} 
.btn-row {
  position: relative;
  &:before {
    position: absolute;
    content: '';
    width: 56px;
    height: 1px;
    background: #dfdfdf;
    top: 50%;
    left: -68px;
  }
}

button {
  background: none;
  border: none;
  font-size: 12px;
  padding: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .7px;
  display: flex;
  align-items: center;
  position: relative;
}
  button:focus {
    outline: none;
  }
  .arrow-icon {
    position: absolute;
    display: flex;
    align-items:center;
    justify-content: center;
    background: $red;
    height: 42px;
    width: 42px;
    border-radius: 100px;
    left: 80px;
  }
.hero-images {
  width: 50%;
  height: 100vh;
  position: relative;
}
.hero-image {
  position: absolute;
  overflow: hidden;
}
.me {
  top: 0;
  right: 0;
  width: 45%;
  height: 50%;
}
.me2 {
  bottom: 24px;
  left: 0px;
  width: 52%;
  height: 65%;
}
img {
  position:  absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}