

.flex-container {

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}
form {
    margin-top: 60px;
    transition: all 4s ease-in-out;
}

.form-control {
    
    width: 500px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid lightgrey;
    color: $black;
    font-size: 18px;
    margin-bottom: 16px;
    

}
input {
    height: 45px;
}

input::placeholder, 
textarea::placeholder {
    font-family: "Poppins";
    font-size: .75rem;
    letter-spacing: 0.3rem;
    font-weight: 500;
}



form .submit {
    font-family: "Poppins";
    background: $red;
    border-color: transparent;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    border-radius: 2px;
}
form .submit:hover {
    background-color: darken($red, 10%);
    cursor: pointer;
}

//ICONS: 
.social-media-icons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    margin-top: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    


    .fab {
      color: black;
      cursor: pointer;
      margin: 0 12px;
      transition: .3s ease-in-out;

      &:hover {
        background: $black;
        color: white;
        padding: 8px 24px;
        border-radius: 4px;
        
      }
    }
  }
