//importing Popping font:
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,800&display=swap");
// creating color variables: 
$red: #e20001;
$black: #191919;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
::selection {
  background-color: $red;
  color: white;
}
.container {
  width: 1280px;
  min-width: 1280px;
  margin: 0 auto;

  .wrapper {
    padding: 0 48px;
  }
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

p {
  font-size: .75rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: 500;
}

h5 {
  margin-top: 260px;
  font-size: 1.5rem;
  font-weight: 600;
  padding-right: 360px;
}


  
  